h5{
    margin-bottom: 0px;
}

.candidates .col-lg-12 .col-lg-2 div{
    padding: 5px;
}

.candidateBox {
    cursor: pointer;
}

.selectedCandidate{
    background-color: #365885
}

.borderBox {
    border: 1px solid black;
}

.candidateParty{
    cursor: pointer;
}

.selectedParty{
    background-color: #365885
}
#partiesRow
{
    background-color: #98b3d1;
}
#candidatesRow
{
    background-color: #98b3d1;

}
#candidateCheckboxes{
    background-color: #d3dfed
}
#btnVote{
    background-color: #365885; 
    width: 100px;
}

