h5{
    margin-bottom: 0px;
}

.candidates .col-lg-12 .col-lg-2 div{
    padding: 5px;
}

.candidateBox {
    cursor: pointer;
}

.selectedCandidate{
    background-color: #b1d2e0;
}

.borderBox {
    border: 1px solid #3a78c9;
}

.candidateParty{
    cursor: pointer;
}

.selectedParty{
    background-color: #b1d2e0;
}
#partiesRow
{
    background-color: #3a78c9;
}
#candidatesRow
{
    background-color: #3a78c9;
}
#candidateCheckboxes{
    background-color: #b1d2e0;
}
#btnVote{
    background-color: #3a78c9;
    width: 100px;
}

